.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}

.login-box {
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-header .login-logo {
  width: 100px;
  margin-bottom: 20px;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.google-login {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.or-divider {
  margin: 10px 0;
  font-size: 14px;
  color: #999;
}

.login-form form {
  display: flex;
  flex-direction: column; /* Ensure elements stack vertically */
}

.login-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-footer a {
  display: block;
  margin-top: 10px;
  color: #4285f4;
  text-decoration: none;
}

.login-footer p {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}
